albumentations==1.3.1
cleanvision==0.3.5
Flask==3.0.0
lpips==0.1.4
numpy==1.23.5
Pillow==10.0.1
Pillow==10.1.0
Pillow==10.2.0
skimage==0.0
torch==2.1.1
torchsr==1.0.4
torchvision==0.16.1
tqdm==4.65.0
