.image-with-title {
    display: flex;
    justify-content: space-around;
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 700px; /* Adjust as needed */
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.image-container h2 {
    font-size: 18px;
    margin: 0;
}

#loadingIndicator {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height and width as needed */
}

.spinner::after {
    content: '';
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border: 4px solid #ccc;
    border-top: 4px solid #000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}